@import "/home/narzaru/.config/themes/latte.css";

* {
    font-family: 'JetBrainsMono Nerd Font Mono';
    font-size: 14px;
    border-radius: 8px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    background-color: @base;
    color: @text;
}

#entry:selected {
    background-color: @overlay2;
    color: @overlay2;
}

#text:selected {
    color: @base;
}

#input {
    background-color: @crust;
    color: @text;
}

#entry {
}

image {
}
